$gray: #dbdbdb;
// $turquoise : rgba(255, 56, 96, 0.58);
$turquoise : #ea4c89;
$headerbg: rgba(47,47,47,0.98);




.wrap_posts {
    margin: 0 0 10px 0 ;
    padding:0 15px 40px ;
    background: rgb(255,255,255);
    border-radius: 6px;
    border: 1px solid #e5e5e5;
}
.level {
    padding: 30px 0 0 0;
}
.desc {
    padding: 10px 0 5px 0;
    .fa {
        color: $gray;
        vertical-align: text-bottom;
    }
    a {
        padding-right: 13px;
    }
}
.avatar {
    border: 1px solid $gray;
    border-radius: 50%;
    margin: 0 auto;
    img {
        border-radius: 50%;
    }
}
.back {
    position: fixed;
    top: 54px;
    color: $gray;
    .fa {
        font-size: 28px;
    }
}
.level-item {
    .title {
        max-width: 700px
    }
}
hr {
    color:#ddd
}
